<!DOCTYPE html>
<html>
<meta charset="utf-8">
<title>Danh sách bài viết</title>
<link rel="icon" href="/images/logo.png">
<link rel="stylesheet" href="/css/profile.css">
<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<div class="container light-style flex-grow-1 container-p-y">
    <a href="/" style="text-decoration: none;">
        <img src="/images/logo.png" style="width: 8%">
        <img src="/images/title.png" style="width: 30%">
    </a>

    <center>
        <h4 class="font-weight-bold py-3 mb-4">
            DANH SÁCH BÀI ĐĂNG
        </h4>
    </center>

    <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light">
            <div class="col-md-3 pt-0">
                <div class="list-group list-group-flush account-settings-links">
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="/profileuser/<%= user._id %>">Thông tin
                        cá nhân</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="/viewpost">Xem bài
                        đăng</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="/newpost">Đăng bài
                        viết mới</a>
                    <% if (user.permission >= 1) { %>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="/admin/list-post">Duyệt bài</a>
                        <a class="list-group-item list-group-item-action active" data-toggle="list" href="/admin/member">Quản lí thành viên</a>
                    <% } %> 
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="account-general">

                        <hr class="border-light m-0">

                        <div class="card-body">
                            <div class="row mb-2">
                                <% listUser.forEach(function(member) { %> 
                                <div class="col-md-12">
                                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                        <div class="col p-4 d-flex flex-column position-static">
                                            <h3 class="mb-0"> <%= member.name %>  </h3>
                                            <br>
                                            <p>ID: <strong class="d-inline-block mb-2 text-primary"> <%= member._id %>  </strong></p>
                                            <p>Email: <strong class="d-inline-block mb-2 text-primary"> <%= member.email %>  </strong></p>
                                            <p>Số điện thoại: <strong class="d-inline-block mb-2 text-primary"> <%= member.phoneNumber %>  </strong></p>
                                            <br>
                                            <%- status[member.status] %> 
                                            <br>
                                            <% if (member.status == 0) { %>
                                                <a href="/admin/ban-member/<%= member._id %>  "><button class="btn" onclick="return confirm('Bạn có muốn chặn thành viên này không?');" style="display: block; width: 100%; background-color: rgb(255, 66, 66);"> Chặn thành viên </button></a>
                                            <% } else { %>
                                                <a href="/admin/unban-member/<%= member._id %>  "><button class="btn" onclick="return confirm('Bạn có muốn bỏ chặn thành viên này không?');" style="display: block; width: 100%; background-color: rgb(37, 204, 255);"> Gỡ chặn thành viên </button></a>
                                            <% } %>  
                                        </div>
                                        <div class="col-auto d-none d-lg-block col-md-4" >
                                            <table width="100%" height="100%" align="center" valign="center">
                                                <td>
                                                    <img src="<%= member.avatar %>" width="150%">
                                                </td>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>