<!--/ Intro Single star /-->
<section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single"><%- post.title %></h1>
            <span class="color-text-a" style="color: grey;"><%- post.streetname %></span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/">Trang chủ</a>
              </li>
              <li class="breadcrumb-item">
                <a href="/property-grid">Tìm phòng</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                <%- post.title %>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Property Single Star /-->
  <section class="property-single nav-arrow-b">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property">
            
            <div class="carousel-item-b">
              <img src="<%- post.uploadImage %>" alt="">
            </div>
            <div class="carousel-item-b">
              <img src="<%- post.uploadImage %>" alt="">
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="col-md-5 col-lg-4">
              <div class="property-price d-flex justify-content-center foo">
                <div class="card-header-c d-flex">
                  <div class="card-title-c align-self-center">
                    <h5 class="title-c" style="color: #2e72ca;"><%- post.cost%> VNĐ</h5>
                  </div>
                </div>
              </div>
              <div class="property-summary">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="title-box-d section-t4">
                      <h3 class="title-d">Chi tiết</h3>
                    </div>
                  </div>
                </div>
                <div class="summary-list">
                  <ul class="list">
                    
                    <li class="d-flex justify-content-between">
                      <strong>Địa chỉ:</strong>
                      <span><%- post.streetname %></span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Loại phòng:</strong>
                      <span><%- post.streetname %></span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Tình trạng:</strong>
                      <span>Còn phòng</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Diện tích:</strong>
                      <span><%- post.area %>
                        <sup>2</sup>
                      </span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Điện:</strong>
                      <span><%- post.electric %></span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Nước:</strong>
                      <span><%- post.water %></span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Để xe:</strong>
                      <span>Có</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-lg-7 section-md-t3">
              <div class="row">
                <div class="col-sm-12">
                  <div class="title-box-d">
                    <h3 class="title-d">Giới thiệu phòng</h3>
                  </div>
                </div>
              </div>
              <div class="property-description">
                <p class="description color-text-a" style="color: grey;">
                  <%- post.description %>
                </p>
              </div>
              <div class="row section-t3">
                <div class="col-sm-12">
                  <div class="title-box-d">
                    <h3 class="title-d">Tiện ích</h3>
                  </div>
                </div>
              </div>
              <div class="amenities-list color-text-a">
                <ul class="list-a no-margin">
                  <p style="color: grey;"><%- post.ultilities %></p>
                </ul>
              </div>
              <div id="map"></div>
            </div>
          </div>
        </div>
        <div class="col-md-10 offset-md-1">
          <ul class="nav nav-pills-a nav-pills mb-3 section-t3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-map-tab" data-toggle="pill" href="#pills-map" role="tab" aria-controls="pills-map"
                aria-selected="false">Bản đồ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-video-tab" data-toggle="pill" href="#pills-video" role="tab"
                aria-controls="pills-video" aria-selected="true">Video</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-plans-tab" data-toggle="pill" href="#pills-plans" role="tab" aria-controls="pills-plans"
                aria-selected="false">Ảnh 360 độ</a>
            </li>
            <li class="nav-item" hidden="true">
              <a class="nav-link active" id="pills-map-tab" data-toggle="pill" href="#pills-map" role="tab" aria-controls="pills-map"
                aria-selected="false">Bản đồ</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.771497078426!2d106.67327941411806!3d10.980612658395762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d12750408037%3A0x8f7cd55be896dec7!2zMDYgVHLhuqduIFbEg24gxqBuLCBQaMO6IEhvw6AsIFRo4bunIEThuqd1IE3hu5l0LCBCw6xuaCBExrDGoW5nLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1602462757263!5m2!1svi!2s" width="100%" height="460" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="tab-pane fade" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
                <iframe width="100%" height="460" src="https://www.youtube.com/embed/<%= post.idvideo %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="tab-pane fade" id="pills-plans" role="tabpanel" aria-labelledby="pills-plans-tab">
              <iframe src="<%- post.link360 %>" width="100%" height="460">
            </div>
            <div class="tab-pane fade show active" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab" hidden="true">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.771497078426!2d106.67327941411806!3d10.980612658395762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d12750408037%3A0x8f7cd55be896dec7!2zMDYgVHLhuqduIFbEg24gxqBuLCBQaMO6IEhvw6AsIFRo4bunIEThuqd1IE3hu5l0LCBCw6xuaCBExrDGoW5nLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1602462757263!5m2!1svi!2s" width="100%" height="460" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row section-t3">
            <div class="col-sm-12">
              <div class="title-box-d">
                <h3 class="title-d">Liên lạc với chủ trọ</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <img src="<%- viewUser.avatar %>" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="property-agent">
                <h4 class="title-agent"><%- viewUser.name %></h4>
                <ul class="list-unstyled">
                  <li class="d-flex justify-content-between">
                    <strong>Điện thoại:</strong>
                    <span class="color-text-a" style="color: grey;"><%- viewUser.phoneNumber %></span>
                  </li>
                  
                  <li class="d-flex justify-content-between">
                    <strong>Email:</strong>
                    <span class="color-text-a" style="color: grey;"><%- viewUser.email %></span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Telegram:</strong>
                    <span class="color-text-a" style="color: grey;"><%- viewUser.phoneNumber %></span>
                  </li>
                </ul>
                <div class="socials-a">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-4">
              <div class="property-contact">
                <form class="form-a">
                  <div class="row">
                    <div class="col-md-12 mb-1">
                      <div class="form-group">
                        <input type="text" class="form-control form-control-lg form-control-a" id="inputName"
                          placeholder="Tên *" required>
                      </div>
                    </div>
                    <div class="col-md-12 mb-1">
                      <div class="form-group">
                        <input type="email" class="form-control form-control-lg form-control-a" id="inputEmail1"
                          placeholder="Email *" required>
                      </div>
                    </div>
                    <div class="col-md-12 mb-1">
                      <div class="form-group">
                        <textarea id="textMessage" class="form-control" placeholder="Lời nhắn *" name="message" cols="45"
                          rows="8" required></textarea>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-a">Gửi</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Property Single End /-->

  <script>
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: {lat: 21.017494396243393, lng: 105.78447818756104}  // Center the map on Kengnam
        });
      }
  </script>
  <script defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaicNNJ5_2enbdBzXrqrmQ_fnGG8tKvdI&callback=initMap">
  </script>